body {
    background-color: #d3ab78;
}

.container {
    max-width: 1400px;
    background-color: antiquewhite;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*Header*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 30px;
}

.info-container {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    flex: 1;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.info-container p {
    margin-bottom: 8px;
}

.logo {
    width: 100%;
    flex: 2;
    margin: 10px 40px 10px 40px;
}

.info {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    flex: 1;
    text-align: left;
}
.info A {
    margin-left: 10px;
}

div.info>p:nth-child(2) {
    margin-top: 10px;
}

.media {
    padding-top: 20px;
}

.info span {
    font-size: 14px;
    padding: 5px;
    flex: 1;
}

.info-social img  {
    margin-right: 10px;
    width: 30px;
}

a {
    color: #413839;
}

/*Media*/
.media {
    display: flex;
    justify-content: center;
}

.info-social {
    display: flex;
    flex: 1;
    text-align: let;
}

/*Icons*/
#location {
    width: 8%;
}

/*Breadcrumps*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: antiquewhite;
    justify-content: center;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #997a6c;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #413839;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #815633;
    font-weight: bold;
    text-decoration: underline;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #413839;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #997a6c;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #997a6c;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 31.5s;
    animation-name: fade;
    animation-duration: 31.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacitya: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacitya: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/*Accordion*/
/*
#o_nas{
background-color: none;
border: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #413839;
font-size: 30px;
padding-top: 40px;
margin-left: 40%;
}
*/

button{
background-color: antiquewhite;}


.about-conteiner {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-left: 70px;
 margin-right: 70px;
}

#JanaKuchyňková {
    flex: 1;
    width: 60%;
    padding-top: 55px;
    }
    
.info-about {
    text-align: let;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    flex: 1;}

.info-about>p {
color: #413839;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
padding-top:10px;
margin: 0;
}

/*Menu*/
div.button-accordion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


span.info-cycling {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 10px;
}


h4 {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
}

h1 {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding-top: 40px;
    text-align: left;
}


h5 {
    color: #996a55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
}



P {
    margin: 0;
}

h6 {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}

.castomer>p {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

.castomer-contact p {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

.samigris p {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}


h2 {
    color: #996a55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}



h3 {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3:active,
h3:hover {
    color: #996a55;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

/*
a>h3:active,
a>h3:hover {
    color: #996a55;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
*/

.info-cycling a {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.info-cycling a:hover {
    color: #996a55;
}

i.fa {
    color: #996a55;
    font-size: 15px;
    font-weight: lighter;
}

.text-form {
    margin-left: 12%;
    margin-right: 20%;
    margin-top: 5px;
}

hr {
    color: #996a55;
}

/*Travel*/
.cycling-text {
    max-width: 900px;
    background-color: #f0d2b0;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;
    margin-left: 20%;
    margin-right: 20%;
    -webkit-box-shadow: 5px 9px 6px -2px #B59E85;
    box-shadow: 5px 9px 6px -2px #B59E85;
    margin-bottom: 20px;
}

.cycling-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


.logo-cycling>img {
    width: 50px;
    margin-bottom: 20px;
}

.cycling {
    flex: 1;
    padding: 30px;
}

.travel {
    flex: 2;
    padding: 30px;

}

.travel>img {
    width: 30px;
    margin-bottom: 20px;
}

.travel>p>span {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;

}



/*Form*/

form {
    margin-left: 15%;
    margin-right: 15%;
}

form>hr {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.form-body {
    max-width: 900px;
    background-color: #f0d2b0;
    -webkit-box-shadow: 5px 9px 6px -2px #B59E85;
    box-shadow: 5px 9px 6px -2px #B59E85;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.maps-container {
    flex: 1;
}

.maps-container>a>img {
    width: 100%;
    padding: 28px
}

.card-body {
    font-family: "Gotham Rounded", "Arial Rounded", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #444444;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}


#input_text {
    height: 200px;
}

label {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top: 15px;
}

.col-md-6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}

#onclick-one {
    background: antiquewhite;
    border-color: #f0d2b0;
    border-radius: 8px;
    width: 100px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40%;
    margin-right: 40%;
}

/*footer*/
footer {
    margin-top: 60px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.castomer {
    flex: 20%;
    margin-left: 10%;
    border-left: 1px solid #997a6c;
}

.castomer-contact {
    flex: 40%;
    border-left: 1px solid #997a6c;
}

.samigris {
    flex: 40%;
    border-left: 1px solid #997a6c;
    padding-left: 10px;
}

/*--Menu_table--*/
div.table_menu{
margin-left:10%;
margin-right: 10%;
}

.table-sm{
padding-left: 50px;
padding-right: 50px;
}
div.table_menu .table td, .table th, .table thead th {
border:none;
}

div.akce {
    position: absolute;
    width: 60%; top: 20%;
    background-color: antiquewhite;
    opacity: calc(0.8);
    padding: 15px;
    font-size: 1.6em;
}

/* open on web version */
.c-accordion__content{
    display:block!important;
}
/* disable +/- sign */
.c-accordion__title::after {
    content: "";
}
.is-open > .c-accordion__title::after {
    content: "";
}
.c-accordion__title{
    background-color: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #413839;
    font-size: 30px;
    padding-top: 40px;
    font-weight: normal;
    margin-left: 40%;
    cursor: default;
}


/* Alignments */
.alignleft {
    /*rtl:ignore*/
    float: left;
    /*rtl:ignore*/
    margin-right: 1rem;
  }
  
  @media only screen and (min-width: 768px) {
    .alignleft {
      /*rtl:ignore*/
      margin-right: calc(2 * 1rem);
    }
  }
  
  .alignright {
    /*rtl:ignore*/
    float: right;
    /*rtl:ignore*/
    margin-left: 1rem;
  }
  
  @media only screen and (min-width: 768px) {
    .alignright {
      /*rtl:ignore*/
      margin-left: calc(2 * 1rem);
    }
  }
  
  .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#mainContent{
    padding-left: 80px;
    padding-right: 80px;
}

div.c-accordion__content p {
    color: #413839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
  }